<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>Sit amet, memt.</h5>
                <div class="list-group">
                    <a href="#">Dolor sit.</a>
                    <a href="#">Amet, consectetur.</a>
                    <a href="#">Adipiscing elit.</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <h5>My Evernote</h5>
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    MyEvernote @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>E-Bülten Üyeliği</h5>
                Tincidunt integer eu augue augue nunc elit dolor.

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-posta adresiniz">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-send"></i>
                            Gönder
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
