
@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-2 my-4">
            <div class="alert alert-danger">
                <h2>
                    <span class="fa fa-remove"></span> Yetkisiz Erişim
                </h2>
                <p>
                    Bu sayfaya erişim yetkiniz bulunmamaktadır!
                    <br /><br />
                    <a href="@Url.Action("Index", "Home")" class="btn btn-info">Anasayfaya git...</a>
                </p>
            </div>
        </div>
    </div>
</div>

